<div class="row">
  <div class="col-md-8">
    <div class="col-md-12 wow fadeIn">
      <div class="post">
        <div class="middle-content">
          <div class="entry-meta">
            <ul class="list-inline">
              <li class="post-head"><a><img src="../../common/images/1.jpg"></a></li>
              <li><a>{{vm.jiong.title}}</a></li>
              <li><span>{{vm.jiong.createdAt}} </span></li>
              <li><a href="#">赞 {{vm.jiong.like}}</a></li>
              <li><a href="#">嘘 {{vm.jiong.unlike}}</a></li>
              <li><a href="#">收藏 {{vm.jiong.fav}}</a></li>
              <li><a href="#">评论 20</a></li>
            </ul>
            <a class="info" href="#">
              {{vm.jiong.content}}
            </a>

          </div>
          <div class="row page-tools">
            <div class="col-sm-2 no-padding">
              <a class=" btn btn-default">上一条</a>
            </div>
            <div class="col-sm-2">
              <a class="btn btn-primary"><i class="fa fa-star-o"></i>加入收藏</a>
            </div>
            <div class="col-sm-8 no-padding">
              <a class="btn btn-primary">下一条，你懂的</a>
            </div>
          </div>

          <div class="entry-content-wrapper">
            <h2 class="entry-title">留言</h2>
            <div class="comment_list">
              <ul id="comment-list">
                <li class="list_item">
                  <div class="item_avatar">
                    <img src="http://qzapp.qlogo.cn/qzapp/100263567/B743CD81E553DED07651A2F1F0C3AEAC/50" alt="">
                  </div>
                  <div class="item_user">
                    <p><a class="user_name" href="#">Rachel</a><span class="item_time">2016-05-03 17:41:12</span></p>
                    <p class="user_comment">
                      有空哦，大家都这么忙，互相了解对方的长处和深度就行了</p>
                  </div>
                </li>
                <li class="list_item">
                  <div class="item_avatar">
                    <img src="http://qzapp.qlogo.cn/qzapp/100263567/B743CD81E553DED07651A2F1F0C3AEAC/50" alt="">
                  </div>
                  <div class="item_user">
                    <p><a class="user_name">大型互联网企业生产环境中</a><span class="item_time">2016-05-03 17:41:12</span></p>
                    <p class="user_comment">
                      有空哦，大家都这么忙，互相了解对方的长处和深度就行了</p>
                  </div>
                </li>
              </ul>
              <form action="">
                <textarea name="comment" class="comment-txt" id="comment-input" cols="30" rows="4" placeholder="请评论"></textarea>
                <button type="submit" class="btn btn-primary">提交</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="col-md-4">
    <div class="sidebar">
      <div class="widget">
        <h2 class="section-title">热门1</h2>
        <ul class="hot-list clearfix">
          <li class="col-sm-6">
            <div class="post">
              <a class="post-content">
                <div class="entry-meta">
                  <img src="../../common/images/1.jpg">
                </div>
                <h2 class="entry-title">好看的搞笑综艺全球幽默搞笑首榜搞笑首榜</h2>
              </a>
            </div><!--/post-->
          </li>
          <li class="col-sm-6">
            <div class="post">
              <a class="post-content">
                <div class="entry-meta">
                  <img src="../../common/images/1.jpg">
                </div>
                <h2 class="entry-title">全球幽默搞笑首榜</h2>
              </a>
            </div><!--/post-->
          </li>
          <li class="col-sm-6">
            <div class="post">
              <a class="post-content">
                <div class="entry-meta">
                  <img src="../../common/images/1.jpg">
                </div>
                <h2 class="entry-title">全球幽默搞笑首榜</h2>
              </a>
            </div><!--/post-->
          </li>
          <li class="col-sm-6">
            <div class="post">
              <a class="post-content">
                <div class="entry-meta">
                  <img src="../../common/images/1.jpg">
                </div>
                <h2 class="entry-title">全球幽默搞笑首榜</h2>
              </a>
            </div><!--/post-->
          </li>
        </ul>
      </div>
      <div class="widget">
        <h2 class="section-title">热门评论</h2>
        <ul class="comment-list">
          <li>
            <div class="post">
              <div class="post-content">
                <div class="entry-meta">
                  <ul class="list-inline">
                    <li class="post-author"><a>南宫桃宝</a></li>
                    <li class="publish-date"><a>2016-11-21</a></li>
                  </ul>
                </div>
                <h2 class="entry-title">
                  <a href="details.html">幸好是她，要是他的话现在坟头的草估计老高了！</a>
                </h2>
              </div>
            </div><!--/post-->
          </li>
          <li>
            <div class="post">
              <div class="post-content">
                <div class="entry-meta">
                  <ul class="list-inline">
                    <li class="post-author"><a>南宫桃宝</a></li>
                    <li class="publish-date"><a>2016-11-21</a></li>
                  </ul>
                </div>
                <h2 class="entry-title">
                  <a href="details.html">幸好是她，要是他的话现在坟头的草估计老高了！</a>
                </h2>
              </div>
            </div><!--/post-->
          </li>
          <li>
            <div class="post">
              <div class="post-content">
                <div class="entry-meta">
                  <ul class="list-inline">
                    <li class="post-author"><a>南宫桃宝</a></li>
                    <li class="publish-date"><a>2016-11-21</a></li>
                  </ul>
                </div>
                <h2 class="entry-title">
                  <a href="details.html">幸好是她，要是他的话现在坟头的草估计老高了！</a>
                </h2>
              </div>
            </div><!--/post-->
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
