<div class="row">
  <div class="col-md-8 index-list">
    <div class="col-md-12 wow fadeIn" ng-repeat="t in vm.jiongs">
      <div class="post">
        <div class="middle-content">
          <div class="entry-meta">
            <ul class="list-inline">
              <li class="post-head"><a><img src="common/images/1.jpg"></a></li>
              <li><a>{{t.title}}</a></li>
              <li><span>{{t.createdAt}} </span></li>
              <li><a href="#"><i class="fa fa-thumbs-o-up"></i>3002</a></li>
              <li><a href="#"><i class="fa fa-thumbs-o-down"></i>3</a></li>
              <li><a href="#"><i class="fa fa-star-o"></i>500</a></li>
              <li><a href="#"><i class="fa fa-comment-o"></i>20</a></li>
            </ul>
            <a class="info" href="/detail/{{t._id}}" ui-sref="app.detail({id:t._id})">
              {{t.content}}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 wow fadeIn">
      <div class="post">
        <div href="" class="col-md-6 media">
          <img src="common/images/5.jpg" class="img-responsive">
        </div>
        <div class="col-md-6 caption">
          <div class="entry-meta">
            <ul class="list-inline clearfix">
              <li class="post-head"><a><img src="common/images/1.jpg"></a></li>
              <li><a>你的样貌让我荡洋</a></li>
              <li><span>2016-11-21 10:24 </span></li>
              <br>
              <li><a href="#"><i class="fa fa-thumbs-o-up"></i>3002</a></li>
              <li><a href="#"><i class="fa fa-thumbs-o-down"></i>3</a></li>
              <li><a href="#"><i class="fa fa-star-o"></i>500</a></li>
              <li><a href="#"><i class="fa fa-comment-o"></i>20</a></li>
            </ul>
            <a class="info" href="detail.html">
              一神经病在床上唱歌，唱着唱着翻了个身，趴在枕头上继续唱歌。主治医生问：“唱就唱吧，你翻身干什么？”神经病说：“傻瓜， A面唱完了当然要唱 B面了。”
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="sidebar">
      <div class="widget">
        <h2 class="section-title">热门囧事</h2>
        <ul class="hot-list clearfix">
          <li class="col-sm-6">
            <div class="post">
              <a class="post-content">
                <div class="entry-meta">
                  <img src="common/images/1.jpg">
                </div>
                <h2 class="entry-title">好看的搞笑综艺全球幽默搞笑首榜搞笑首榜</h2>
              </a>
            </div><!--/post-->
          </li>
          <li class="col-sm-6">
            <div class="post">
              <a class="post-content">
                <div class="entry-meta">
                  <img src="common/images/1.jpg">
                </div>
                <h2 class="entry-title">全球幽默搞笑首榜</h2>
              </a>
            </div><!--/post-->
          </li>
          <li class="col-sm-6">
            <div class="post">
              <a class="post-content">
                <div class="entry-meta">
                  <img src="common/images/1.jpg">
                </div>
                <h2 class="entry-title">全球幽默搞笑首榜</h2>
              </a>
            </div><!--/post-->
          </li>
          <li class="col-sm-6">
            <div class="post">
              <a class="post-content">
                <div class="entry-meta">
                  <img src="common/images/1.jpg">
                </div>
                <h2 class="entry-title">全球幽默搞笑首榜</h2>
              </a>
            </div><!--/post-->
          </li>
        </ul>
      </div>
      <div class="widget">
        <h2 class="section-title">热门评论</h2>
        <ul class="comment-list">
          <li>
            <div class="post">
              <div class="post-content">
                <div class="entry-meta">
                  <ul class="list-inline">
                    <li class="post-author"><a>南宫桃宝</a></li>
                    <li class="publish-date"><a>2016-11-21</a></li>
                  </ul>
                </div>
                <h2 class="entry-title">
                  <a href="details.html">幸好是她，要是他的话现在坟头的草估计老高了！</a>
                </h2>
              </div>
            </div><!--/post-->
          </li>
          <li>
            <div class="post">
              <div class="post-content">
                <div class="entry-meta">
                  <ul class="list-inline">
                    <li class="post-author"><a>南宫桃宝</a></li>
                    <li class="publish-date"><a>2016-11-21</a></li>
                  </ul>
                </div>
                <h2 class="entry-title">
                  <a href="details.html">幸好是她，要是他的话现在坟头的草估计老高了！</a>
                </h2>
              </div>
            </div><!--/post-->
          </li>
          <li>
            <div class="post">
              <div class="post-content">
                <div class="entry-meta">
                  <ul class="list-inline">
                    <li class="post-author"><a>南宫桃宝</a></li>
                    <li class="publish-date"><a>2016-11-21</a></li>
                  </ul>
                </div>
                <h2 class="entry-title">
                  <a href="details.html">幸好是她，要是他的话现在坟头的草估计老高了！</a>
                </h2>
              </div>
            </div><!--/post-->
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>
